.center {
  width: 100%; 
  height: 92vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.container{
	width:512px; 
	height:300px; 
	border:3px solid #6E93B3; 
	padding:30px 79px 19px;
}
.timezone{
	background: #F2F2F2; 
	padding:10px; font-size: 18px;
}
.form-control{
			width : 40%;
			border : 1.5px solid #42729e;
			/* height: 150%; */
			padding: 10px 10px; 
			/* line-height: 20px; */
		}
.user_input{
	margin-top: 20px; 
	display: flex;
}
#gender{
	/* margin : 0 5%; */
	/* display: inline-block; */
	height: 18px;
	font-size: 35px;
	width: 15%;
	margin: 3% 0% 0%;
	padding-top: 5%;
	
	
}
#khoa{
	/* margin : 0 5%; */
	/* display: inline-block; */
	width: 40%;
	margin-left: 5%;
	border: 3px solid #92ADC6; 
	font-size: 18px;
}
.login_btn{
	text-align: center; 
	margin: 40px
}
label{
	font-size: 18px;
	margin: 3% 0% 0%;
}
lable{
	padding:10px 10px;
	display: inline-block; 
	width: 30%; 
	border: 3px solid #487CAA; 
	background: #5B9BD5; 
	color: white; 
	font-size: 18px;
	text-align: center;
}
input{
	width:47.5%; 
	display: inline-block; 
	margin-left: 5%;
	border: 3px solid #92ADC6; 
	height: 46px; 
	padding: 0 10px; 
	font-size: 18px;
}
button{
	background: green; 
	padding: 12px 40px; 
	border: 3px solid #487CAA; 
	border-radius: 10px;
	color: white; 
	font-size: 18px; 
	cursor: pointer;
}
	